page-faculty-view {
    ion-card {
       
        color:white;
    }
    ion-card-header, ion-card-content {
        text-align: center;
    }    
    ion-card-content {
      padding: 0px 0px 13px 0px !important;
    }
    .tile-icon {
        font-size:50px;
        color:white;
    }
    .error{
        padding-left:10px;
        color:red;
    }
    ion-modal,
    .show-page {
      // transparent black background overlay
      background-color: rgba(0, 0, 0, .5) !important;
      padding: 50px !important;
    }
    .toolbar-background {
      color: red !important;
    }
    ion-modal.modal-wrapper {
      transform: translateY(30%) !important;
    }
    ion-page.modal {
      padding: 30px;
      background: rgba(0, 0, 0, 0.5);
    }
    .modal-backdrop-bg {
      background-color: #000;
      opacity: 0;
    }
    .active .modal-backdrop-bg {
      opacity: 0.5;
    }
}
    
    ion-modal.inset-modal {
    // transparent black background overlay
    background-color: rgba(0, 0, 0, .5) !important;
    transition: opacity .25s ease-in-out;
    padding: 20vh 10vw;
}